@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .pdf-download {
        display: none !important;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

    .main-wrapper .section-title {
        break-after: avoid-page;
        page-break-after: avoid;
    }

    .management-scope-section {
        break-before: page;
        page-break-before: always;
    }

}
